<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">Car Manager 1.0</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#/about">About</a></li>
      <li><a href="#/add">Add Car</a></li>
      <li><a href="#/register">Register</a></li>
    </ul>
  </section>
</nav>

<section class="mainContent" ui-view></section>

<footer>
  <div class="copyright">
    Copyright 2015 | Car Manager LLC
  </div>
</footer>